

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.gap {
    &-050 {
        gap: 0.5rem;
    }

    &-075 {
        gap: 0.75rem;
    }

    &-100 {
        gap: 1rem;
    }

    &-150 {
        gap: 1.5rem;
    }

    &-200 {
        gap: 2rem;
    }
}