$paddings: 0, 4, 8, 12, 16, 24, 32;

:root {
    --padding-inline: calc(5 * var(--spacing));
}

.py-inherit {
    padding-inline: var(--padding-inline);
}

@each $space in $paddings {
  .p-#{$space}  { padding: calc(var(--spacing) * #{$space}); }
  .pt-#{$space} { padding-top: calc(var(--spacing) * #{$space}); }
  .pr-#{$space} { padding-right: calc(var(--spacing) * #{$space}); }
  .pb-#{$space} { padding-bottom: calc(var(--spacing) * #{$space}); }
  .pl-#{$space} { padding-left: calc(var(--spacing) * #{$space}); }
  .px-#{$space} { padding-left: calc(var(--spacing) * #{$space}); padding-right: calc(var(--spacing) * #{$space}); }
  .py-#{$space} { padding-top: calc(var(--spacing) * #{$space}); padding-bottom: calc(var(--spacing) * #{$space}); }
}


