._int_root {
  contain: strict;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--container-padding);
  gap: var(--container-gap);
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

._int_slide {
  contain: strict;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--slide-width);
  height: var(--slide-height);
  content-visibility: auto;
  contain-intrinsic-size: var(--slide-width) var(--slide-height);
  background: rgb(255, 255, 255);
  border-radius: 8px;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

._int_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--slide-padding);
  contain: layout paint;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
}

._int_container:not(:empty) {
  opacity: 1;
}


input[type="checkbox"] {
  position: absolute;
  width: var(--checkbox-size);
  height: var(--checkbox-size);

  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border: 1px solid #ccc;

  &:checked {
    background-color: #2196f3;
  }

  pointer-events: auto;
}

.is-scrolling * {
  pointer-events: none !important;
  cursor: grabbing;
}
