$columns: 1, 2, 3, 4, 5, 6, 12;
$rows: 1, 2, 3, 4, 5, 6;

.grid {
	display: grid;
}

@each $col in $columns {
  .grid-cols-#{$col} {
    grid-template-columns: repeat(#{$col}, 1fr);
  }
}

@each $row in $rows {
  .grid-rows-#{$row} {
    grid-template-rows: repeat(#{$row}, 1fr);
  }
}
