
.floating {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(220, 220, 220, 0.7);
    border-radius: 24px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.modal-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #273f4f;
    overflow: hidden;

    &__header {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        padding-inline: var(--padding-inline);
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        color: #222;
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0px;
        overflow: var(--scrollable-ctx);
    }

    &__footer {
        display: flex;
        align-items: center;
        flex: none;
        height: 72px;
        padding-inline: var(--padding-inline);
        border-top: 1px solid rgba(230, 230, 230, 0.7);
    }
}